[Unit]
Description=Synapse Matrix.org Homeserver

[Service]
Type=forking
ExecStart=/bin/bash -c "cd ~/.synapse && source ./bin/activate && synctl start"
ExecStop=/bin/bash -c "cd ~/.synapse && source ./bin/activate && synctl stop"
User=synapse

[Install]
WantedBy=default.target
